language: php

php:
#  - 5.3
#  - 5.4
  - 5.5
#  - 5.6
#  - 7.0

before_script:
  - composer self-update
  - composer global require phpunit/phpunit --no-update
  - cp app/config/parameters.yml.dist app/config/parameters.yml
  - composer install
  - export ADDITIONAL_PATH=`php -i | grep -F --color=never 'Scan this dir for additional .ini files'`
  - echo 'xdebug.max_nesting_level=9999' | sudo tee ${ADDITIONAL_PATH:42}/symfony2.ini

script: phpunit -c app/
