{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% embed '@FOSUser/layout_form.html.twig' %}
        {% block loginHeader %}{{ 'layout.login_form'|trans }}{% endblock %}

        {% block loginBody %}
            {% include '@FOSUser/Security/login_form.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock fos_user_content %}
